:root {
}

.buttonstyle {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    transition-duration: 0.5s;
    font-size: 20px;
}

.buttonstyle:hover {
    scale: 1.03 1.03 1.03;
    background-color: rgb(71, 201, 230);
}
